<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Dispositivos</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/table.css">
</head>
<body>
    <h1>Listado de Dispositivos Donados</h1>
    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nombre Dispositivo</th>
                <th>Estado</th>
                <th>Comuna</th>
                <th>Fotos</th>
            </tr>
        </thead>
        <tbody>
            <tr onclick="location.href='informacion-dispositivo';">
                <td>Pantalla</td>
                <td>Samsung 50 pulgadas</td>
                <td>Funciona perfecto</td>
                <td>Maipú</td>
                <td><img src="static/img/pantalla.jpg" alt="Samsung 50 pulgadas" width="120" height="120"></td>
            </tr>
            <tr onclick="location.href='informacion-dispositivo';">
                <td>Tablet</td>
                <td>Huawei P90</td>
                <td>No funciona</td>
                <td>San Antonio</td>
                <td><img src="static/img/tablet.jpg" alt="Huawei P90" width="120" height="120"></td>
            </tr>
            <tr onclick="location.href='informacion-dispositivo';">
                <td>Notebook</td>
                <td>MSI PRO Genesis</td>
                <td>Funciona perfecto</td>
                <td>San Juan</td>
                <td><img src="static/img/msi.jpg" alt="MSI PRO Genesis" width="120" height="120"></td>
            </tr>
            <tr onclick="location.href='informacion-dispositivo';">
                <td>Teclado</td>
                <td>Razer 525</td>
                <td>Funciona a medias</td>
                <td>Guaitecas</td>
                <td><img src="static/img/razer.jpg" alt="Razer 525" width="120" height="120"></td>
            </tr>
            <tr onclick="location.href='informacion-dispositivo';">
                <td>Audífonos</td>
                <td>Sony XM4000</td>
                <td>No funciona</td>
                <td>Ñiquen</td>
                <td><img src="static/img/sony.jpg" alt="Sony XM4000" width="120" height="120"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/">Volver a la portada</a>
</body>
</html>
